/* src/modules/Plants/components/PlantForm/PlantForm.css */

.AddPlantContainer {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.plant-form {
  width: 100%;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

.btn {
  margin-top: 10px;
}