/* src/components/Form/FormRow.module.css */

.formRow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 10px;
  }
  
  .hide {
    display: none;
  }
  
  .show {
    display: flex;
  }
  