/* src/components/Navbar/ButtonGroup.css */

/* Основные стили кнопок */
.button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.2rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
  }
  
  /* Стили для анимации появления кнопки сохранения */
  .button-save-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .button-save-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .button-save-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .button-save-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
  