/* src/modules/Map/pages/MapPage.module.css */
.mapPageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapWrapper {
  flex-grow: 1;
  position: relative;
}

/* Добавляем правило для скрытия флага */
:global(.leaflet-attribution-flag) {
  display: none !important;
}
