/* src/modules/Plants/pages/AddPlantPage/AddPlantPage.css */

.AddPlantContainer {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.AddPlantContainer h1 {
  margin-bottom: 20px;
}