/* src/components/Form/formRow.css */

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row.hide {
  display: none;
}

.form-row.show {
  display: flex;
}