/* src/assets/styles/global.css */

@import './base/_variables.css';
@import './base/_reset.css';
@import './base/_typography.css';

/* Общие контейнеры */
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Пример специфических глобальных стилей */
.homeContainer {
  display: flex;
  justify-content: center;
}

/* Светлая тема */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-background: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  /* Дополнительные стили для светлой темы */
}
