/* src/assets/css/Navbar.css */

/* CSS Variables should be defined in global.css */

#navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #343a40;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.navv {
  width: 100%;
}

.rounded-navbar {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  position: relative;
  transition: 
    color 0.3s ease, 
    background-color 0.3s ease, 
    transform 0.3s ease, 
    box-shadow 0.3s ease;
  border-radius: 20px;
}

.nav-item::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 50%;
  transition: width 0.3s ease, right 0.3s ease;
}

.nav-item:hover {
  background-color: #3cb371;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-item:hover::after {
  width: 100%;
  right: 0;
}

.nav-item:active {
  background-color: #2e8b57;
}

.nav-item:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(60, 179, 113, 0.5);
}

@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    width: 90%;
    margin: 5px 0;
  }
}